@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


.container-10-12 {
  @apply max-w-10/12 mx-auto;
}

.container-7-12 {
  @apply max-w-7/12 mx-auto;
}

@media screen and (max-width: 640px) {
  .container-10-12 {
    @apply max-w-11/12 mx-auto;
  }
  .container-7-12 {
    @apply max-w-full mx-auto;
  }
}

body {
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  font-family: 'Montserrat', sans-serif;
}

.bg-red {
  background-color: #ef5355;
}

.bg-red:hover {
  background-color: #d32f2f;
}

.text-red {
  color: #ef5355;
}

.text-red-gradient {
  background: linear-gradient(to right, #ef5355, #ff9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}