@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

.container-10-12 {
  @apply max-w-10/12 mx-auto;
}

.container-7-12 {
  @apply max-w-7/12 mx-auto;
}

@media screen and (max-width: 640px) {
  .container-10-12 {
    @apply max-w-11/12 mx-auto;
  }
  .container-7-12 {
    @apply max-w-full mx-auto;
  }
}

body {
  background: linear-gradient(to bottom, #ffffff, #eeeeee);
  font-family: "Montserrat", sans-serif;
}

.bg-red {
  background-color: #f66b0f;
}

.bg-red-without-hover {
  background-color: #f66b0f;
}

.bg-red:hover {
  background-color: #ff9800;
}

.bg-white-to-red {
  background-color: #ffffff;
}
.bg-white-to-red:hover {
  background-color: #f66b0f;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.text-red {
  color: #f66b0f;
}
.text-red-without-hover {
  color: #f66b0f;
}
.text-red:hover {
  color: #ff9800;
}

.text-red-gradient {
  background: linear-gradient(to right, #f66b0f, #ff9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Стили выделения текста */
::selection {
  background-color: #6366f1; /* Indigo-500 */
  color: #ffffff; /* Белый текст */
}

/* Для Firefox нужен отдельный селектор */
::-moz-selection {
  background-color: #6366f1; /* Indigo-500 */
  color: #ffffff;
}
